@model WebAlumno.Models.Curso

@{
    ViewBag.Title = "Modificar";
}

<h2>Modificar</h2>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() // directiva de seguridad que perimite que no se falseen datos

    @Html.HiddenFor(o => o.id)

    @Html.LabelFor(o => o.Nombre) // expresion lambda
    @Html.EditorFor(o => o.Nombre) // editor predeterminado
    <br />

    @Html.LabelFor(o => o.inicio)
    @Html.EditorFor(o => o.inicio)
    <br />

    @Html.LabelFor(o => o.fin)
    @Html.EditorFor(o => o.fin)
    <br />

    <input type="submit" value="Enviar Datos" />


}
